<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-medium">
  <div class="container">

    <a class="navbar-brand pr-3 d-flex c-medium" routerLink="/wallets" routerLinkActive="c-white">
      <img class="mr-4 logo" src="../../assets/img/Logo.png" alt="Coop-Logo">
      <span>Wallet</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mr-4">
          <a class="nav-link pt-3 c-medium" routerLink="/transactions" routerLinkActive="c-white">Transactions</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link pt-3 c-medium" routerLink="/addresses" routerLinkActive="c-white">Addresses</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<!-- Statusbar -->
<div class="w-100 py-2 bg-black">
  <div id="status" class="container d-flex justify-content-end c-medium">

    <div *ngIf="userService.dataGot">

      <div class="d-inline-block mr-4 pointer" ngbTooltip="{{userService.selectedAccount}}" placement="bottom">
          <span triggers="click" [autoClose]="true" ngbTooltip="copied!" placement="bottom"
                container="body" (click)="copyToClipboard(userService.selectedAccount)">
            Account: <span class="c-accent">{{userService.selectedAccountShorten}}</span>
          </span>
      </div>
      <span class="capitalize mr-4">{{ network }}</span>
      <span *ngIf="userService.providerOnline" class="capitalize mr-4">Online <img class="mb-1" src="../../assets/img/Online.png"></span>
      <span *ngIf="!userService.providerOnline" class="capitalize mr-4">Offline <img class="mb-1" src="../../assets/img/Offline.png"></span>
      <span>Chain ID: <span class="c-white mr-4">{{ userService.chainId }}</span></span>
      <div class="d-inline-block pointer" ngbTooltip="{{userService.fullBalance}}" placement="bottom">
        <span>Balance: <span class="c-white mr-4">{{ userService.showBalance }}</span></span>
      </div>

      <span>Nonce: <span class="c-white"> {{userService.nonce}} </span></span>

    </div>

    <div *ngIf="!userService.dataGot">

      <span class="capitalize mr-4">{{ network }}</span>
      <span>Chain ID: <span class="c-white mr-4">{{ userService.chainId }}</span></span>
      <a class="c-accent" href="#" *ngIf="!userService.dataGot" (click)="connectMetaMask()">Connect Metamask</a>

    </div>

  </div>

</div>
