<nav class="navbar navbar-expand-lg navbar-light bg-medium">
  <div class="container-fluid mx-5">
    <a class="navbar-brand">
      <a class="nav-item">
        <img src="assets/img/Logo.png">
      </a>
    </a>
    <a class="navbar-brand c-white pr-3" routerLink="">Wallet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item pr-3">
          <a class="nav-link c-medium" routerLink="/transactions">Transactions</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link c-medium" routerLink="/addresses">Addresses</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item pr-3">
          <div class="c-medium">Balance: <span class="c-white">...ETH</span></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
