nav, .navbar-brand {
  font-family: Montserrat, serif;
  font-size: 1.3em;
  ;
}

nav a:hover {
  color: #FFFFFF !important;
}
.meta-text {
  color: #bab8ff;
}

.capitalize { text-transform: capitalize; }
