.canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  z-index: -1;
}

.background-logo {
  width: 550px;
  height: 450px;
  content: "";
  background: url("../../assets/img/BackgroundLogoWIP.png") no-repeat;
  opacity: 0.3;
}
