<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" id="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Coop Wallet - Introduction</h2>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="body-text">
    <h5><b>What is Coop Wallet?</b></h5>
    <p>Coop Wallet is a Multi-signature Wallet decentralized application developed as a university project by a small group of developers.</p>
    <h5><b>What is a Multi-signature wallet?</b></h5>
    <p>Multi-signature, also referred to as Multi-sig means that transactions can only be authorized and completed with the use of multiple signatures (at least 2).
      This means that funds can not be moved with the use of a single key, making this type of wallet a much securer solution than a Single-signature Wallet.
      </p>
    <h5><b>Applications:</b></h5>
    <ul>
      <li>Dividing up responsibility for the possession of currency among multiple users</li>
      <li>Wallet isn't compromised as easily, since a single "stolen" key isn't necessarily enough to access funds</li>
      <li>Solid Backup structure, since losing a single key doesn't lead to the loss of the wallet</li>
    </ul>
    <h5><b>Features:</b></h5>
    <ul>
      <li>Easy connection to your account using Metamask</li>
      <li>A status bar that is constantly being updated, showing you the most important information and current status of your account, such as the balance, the wallets address, the current network etc.</li>
      <li>A list of all your registered wallets, includind information such as its balance, the number of owners and required confirmations to authorize a transaction.</li>
      <li>A list with all your transactions and an easy way too add new ones</li>
      <li>An Address Book to simplify reoccuring transactions and increase efficiency.</li>
    </ul>


  </div>

  <div class="modal-footer" id="modal-footer">

    <button type="button" class="btn btn-outline-light" (click)="c('Save click')">Close</button>
  </div>
</ng-template>


