<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Insert ABI information</h4>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="nameOfContract" id="label1" class="label">Address:</label>
      <div class="input-group" id="contactNameInput">
        <input #nameOfContract id="nameOfContract" type="email" class="form-control" placeholder="Name of contract">
      </div>
      <p #errorMessageContractName hidden='true' style="color: red">You need to enter a contract name!</p>
      <label for="abiOfContract" id="label2" class="label">ABI:</label>
      <div class="input-group" id="nameInput">
        <input #abiOfContract id="abiOfContract" type="email" class="form-control" placeholder="ABI of contract">
      </div>
      <p #errorMessageABIContract hidden='true' style="color: red">You need to enter a contract abi!</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn btn-outline-light" (click)="insert()" >Add</button>
  <button type="button" class="btn btn btn-outline-danger" (click)="this.activeModal.close('Close click')" >Close</button>
</div>
