<div class="container my-5">
  <h1 class="c-white heading">{{ wallet.name }}</h1>
  <h3 class="c-medium">Balance: {{ wallet.balance }}ETH</h3>
  <div class="c-accent">{{ wallet.address }}</div>


  <div class="d-flex justify-content-between mt-5">
    <h2 class="c-white">Owners <span class="small c-medium">(total: {{ wallet.owners }})</span></h2>
    <div>
      <button class="btn btn btn-outline-light mr-2" (click)="openAddOwnerPopup()">Add</button>
      <button class="btn btn btn-outline-light" type="button" data-toggle="collapse" data-target="#ownerTable"
              aria-expanded="false" aria-controls="ownerTable" (click)="this.toggleOwnersButtonText()"
              id="toggleOwnersButton">Show</button>
    </div>
  </div>

  <div id="ownerTable" class="collapse">
    <table class="table table-dark table-hover" >
      <thead>
      <tr class="bg-accent c-black font-weight-bold">
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let owner of owners">
        <td class="d-flex justify-content-between align-items-baseline">
          <div class="mr-2">{{ owner.name }}</div>
        </td>
        <td class="d-flex justify-content-between align-items-baseline">
          <span class="address">{{ owner.address }}</span>
        </td>
        <td class="d-flex align-items-baseline justify-content-end ">
          <button class="btn btn-sm btn-outline-light mr-2 my-1" (click)="open(owner)">Edit</button>
          <button class="btn btn-sm btn-outline-light mr-2 my-1">Replace</button>
          <button class="btn btn-sm btn-outline-danger my-1" (click) = "removeOwner(owner.address, wallet.address)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
   <!----------- Token löschen  auflisten ---------->
  <div class="d-flex justify-content-between mt-5 border px-2 pt-2">
    <h2 > Tokens </h2>
    <div>
      <button class="btn btn btn-outline-light mr-2" (click)="openAddTokenPopup()">Add</button>
      <button class="btn btn btn-outline-light" type="button" data-toggle="collapse" data-target="#tokensTable"
              aria-expanded="false" aria-controls="tokensTable" (click)="this.toggleTokensButtonIcon()" id="toggleTokensButton"> <i id="icon" class="fas fa-arrow-down"></i></button>
    </div>
  </div>

  <div id="tokensTable" class="collapse">
    <table class="table table-dark table-hover table-striped table-bordered" >
      <thead>
      <tr class="bg-accent c-black font-weight-bold bg-accent">
        <th scope="col"> Name</th>
        <th scope="col"> Multisig balance</th>
        <th scope="col"> Account balance</th>
      </tr>
      </thead>
      <tbody>
      <tr > <!-- *ngFor="let owner of owners" -->
        <td class="d-flex justify-content-between">
          <div>Wallet</div>
          <div>
            <button class="btn btn-sm btn-outline-light mr-2 my-1">Replace</button>
            <button class="btn btn-sm btn-outline-danger my-1" (click)="openRemoveTokenPopup()" >Remove</button> <!-- (click) = "removeOwner(owner.address, wallet.address)" -->
          </div>
        </td>
        <td>
          test
        </td>
        <td>
          test
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>


