<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add new Token</h4>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="addressOfToken" id="label1" class="label">Address:</label>
      <div class="input-group" id="addressInput">
        <input  id="addressOfToken" type="text" class="form-control" (input)="detectInputChange($event)" placeholder="Address of Token">
      </div>
      <label for="nameOfToken" id="label2" class="label mt-2">Token Name:</label>
      <div class="input-group" id="nameInput">
        <input #nameOfToken id="nameOfToken" type="text" class="form-control" placeholder="Name of Token">
      </div>
      <label for="Symbol" id="label3" class="label">Symbol Name:</label>
      <div class="input-group" id="symbolInput">
        <input #Symbol id="Symbol" readonly type="text" class="form-control symbolInput" placeholder="Symbol of Token">
      </div>
      <label for="Symbol" id="label4" class="label mt-2">Decimals</label>
      <div class="input-group" id="decimalsInput">
        <input #Decimals id="Decimals" readonly type="text" class="form-control symbolInput" placeholder="Number of Decimals">
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn btn-outline-light" (click)="add()">Add</button>
  <button type="button" class="btn btn btn-outline-danger" (click)="this.activeModal.close('Close click')" >Close</button>
</div>

