<div class="container mt-5 pt-5 c-black">
    <div class="c-white"><h1>your multi-signature wallets</h1></div>

    <table class="table table-dark table-hover">
      <thead>
        <tr class="bg-accent c-black font-weight-bold">
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Balance</th>
          <th scope="col">Confirmations</th>
          <th scope="col">Owners</th>
          <th scope="col">Pending</th>
          <th scope="col">Network</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wallet of walletsData">
          <td><span class="wallet-link py-3" routerLink="/wallets/details/{{ wallet.address }}">{{ wallet.name }}</span></td>
          <td>
            <span class="address" ngbTooltip="{{ wallet.address }}" placement="top-left" container="body">
              <span triggers="click" [autoClose]="true" ngbTooltip="copied!" placement="top-left"
                    container="body" (click)="copyToClipboard(wallet.address)">
                {{ this.formatAddressString(wallet.address) }}
              </span>
            </span>
          </td>
          <td>{{ this.convertBalanceString(wallet.balance) }} ETH</td> <!-- TODO: Should display native currency of network -->
          <td>{{ wallet.confirmations }}</td>
          <td>{{ wallet.owners }}</td>
          <td>{{ wallet.pending }}</td>
          <td class="capitalize">{{ wallet.network }}</td>
        </tr>
      </tbody>
    </table>

</div>
