/* Global Styles that are used in multiple Components */

body {
  font-family: NunitoSans, serif;
  background-color: #24292E;
  color: #FFFFFF;
}

/* Background Colors */
.bg-black {
  background-color: #080808;
}
.bg-surface {
  background-color: #24292E;
}
.bg-medium {
  background-color: #383F45;
}
.bg-accent {
  background-color: #57D9A3;
}
.bg-contrast {
  background-color: #79E2F2;
}

/* Font Colors */
a.c-white, .c-white  {
  color: #FFFFFF !important;
}
.c-medium {
  color: #C4C4C4 !important;
}
.c-black {
  color: #000000;
}

.c-accent {
  color: #57D9A3 !important;
}


/* Fonts */
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf)
}
@font-face {
  font-family: NunitoSans;
  src: url(./assets/fonts/NunitoSans-Regular.ttf)
}
